{% extends "layout.html" %}
{% block content %}
    <h1>IT'S ALIVE!!</h1>
    <p align="center"></p><div class="tenor-gif-embed" data-postid="5625959" data-share-method="host" align="center data-aspect-ratio="1.35135" data-width="100%" width = "200" height="200"><a href="https://tenor.com/view/frankenstein-its-alive-happy-excited-gif-5625959">Frankenstein Its Alive GIF</a>from <a href="https://tenor.com/search/frankenstein-gifs">Frankenstein GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script></p>
{% endblock content%}